.sideBar {
  display: grid;
  background-color: $colorWhite;
  grid-auto-rows: minmax(6rem, max-content);
  height: 100%;

  &--default {
    //I tested out the screen sizes that fit the sideBar
    @media only screen and (max-width: 56.25em) and (max-height: 25em) {
      display: none;
    } //tabPort

    @media only screen and (min-width: 56.25em) and (max-height: 28em) {
      display: none;
    } //tabLand

    @media only screen and (min-width: 75em) and (max-height: 31em) {
      display: none;
    } //normalDesktop

    @media only screen and (min-width: 112.5em) and (max-height: 37.5em) {
      display: none;
    } //bigDesktop
  }

  &--closed {
    width: 6rem;
  }

  @include respond(tabPort) {
    width: 6rem;
  }

  &__item {
    &,
    &:link,
    &:visited,
    &:active {
      display: grid;
      text-decoration: none;
      grid-template-columns: repeat(2, max-content) 1fr;
      gap: 2rem;
      align-items: center;
      background-color: $colorWhite;
      transition: all 0.2s;
      padding: 0.5rem 2rem;
      border-bottom: 1px solid $colorGreyLight;

      @include respond(tabPort) {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 0;
      }
    }

    p {
      color: $colorPrimary;
      font-size: $defaultFontSize;
      font-weight: 600;
      text-transform: lowercase;
      transition: color 0.2s;

      @include respond(tabPort) {
        display: none;
      }
    }

    &-enter-active,
    &-enter-done,
    &-exit {
      &,
      &:link,
      &:visited,
      &:active {
        background-color: $colorPrimary;
        border-bottom: 1px solid $colorPrimary;
      }

      p {
        color: $colorWhite;
      }
    }

    &-appear-active {
      &,
      &:link,
      &:visited,
      &:active {
        background-color: $colorPrimary;
        border-bottom: 1px solid $colorPrimary;
        transition: none !important;
      }

      p {
        color: $colorWhite;
        transition: none !important;
      }
    }

    @include notTouchDevice() {
      &:hover {
        background-color: $colorPrimary;
        border-bottom: 1px solid $colorPrimary;

        p {
          color: $colorWhite;
        }
      }
    }
  }

  &__itemIndicator {
    visibility: hidden;
    opacity: 0;
    width: 0.8rem;
    justify-self: end;
    transition: all 0.2s;
    color: $colorWhite;

    @include respond(tabPort) {
      display: none;
    }
  }

  &__item-enter-active &__itemIndicator,
  &__item-enter-done &__itemIndicator,
  &__item-exit &__itemIndicator {
    visibility: visible;
    opacity: 1;
  }

  &__item-appear-active &__itemIndicator {
    visibility: visible;
    opacity: 1;
    transition: none !important;
  }

  @include notTouchDevice() {
    &__item:hover &__itemIcon {
      color: $colorWhite;
    }
  }

  &__itemIconBox {
    display: flex;
    align-items: center;
  }

  &__itemIcon {
    font-size: 2rem;
    color: $colorPrimary;
    transition: all 0.2s;

    @include respond(tabPort) {
      font-size: 2.3rem;
    }
  }

  &__item-enter-active &__itemIcon,
  &__item-enter-done &__itemIcon,
  &__item-exit &__itemIcon {
    color: $colorWhite;
  }

  &__item-appear-active &__itemIcon {
    color: $colorWhite;
    transition: none !important;
  }

  &--closed &__item {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0;
    p {
      display: none;
    }
  }

  &--closed &__itemIndicator {
    display: none;
  }
}
