.btnPrimary {
  &,
  &:link,
  &:visited,
  &:active {
    display: inline-block;
    background-color: $colorPrimaryLight;
    text-decoration: none;
    color: $colorWhite;
    font-size: $defaultFontSize;
    letter-spacing: 1.5px;
    font-weight: 600;
    border-radius: 3px;
    padding: 0.8rem;
    line-height: 100%;
    transition: all 0.2s;
  }

  @include notTouchDevice() {
    &:hover {
      opacity: 0.9;
    }
  }
}

.btnText {
  &,
  &:link,
  &:visited,
  &:active {
    padding: 0.8rem;
    text-decoration: none;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    position: relative;
  }

  p {
    font-weight: 600;
    font-size: $defaultFontSize;
    letter-spacing: 1.5px;
    line-height: 100%;
  }

  &--icon {
    height: 0.7rem;
  }

  &--black {
    p {
      color: $colorBlack;
    }
  }

  &--black &--icon {
    &,
    & * {
      fill: $colorBlack;
    }
  }

  &--white {
    p {
      color: $colorWhite;
    }
  }

  &--white &--icon {
    &,
    & * {
      fill: $colorWhite;
    }
  }

  &--primary {
    p {
      color: $colorPrimary;
    }
  }

  &--primary &--icon {
    &,
    & * {
      fill: $colorPrimary;
    }
  }

  &--primaryLight {
    p {
      color: $colorPrimaryLight;
    }
  }

  &--primaryLight &--icon {
    &,
    & * {
      fill: $colorPrimaryLight;
    }
  }
}

.btnBackground {
  &,
  &:link,
  &:visited,
  &:active {
    text-decoration: none;
    color: $colorBlack;
    background: transparent;
    display: inline-flex;
    padding: 0.8rem;
    background-image: linear-gradient(
      120deg,
      transparent 0 50%,
      $colorPrimary 50%
    );
    background-size: 250%;
    background-position: 0%;
    transition: background-position 0.3s ease-out, color 0.4s,
      transform 0.2s ease-out;
  }

  p {
    text-align: left;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 1.5px;
    line-height: 100%;

    @include respond(phone) {
      font-size: 2.5rem;
      letter-spacing: normal;
    }
  }

  @include notTouchDevice() {
    &:hover {
      background-position: 100%;
      transform: translateX(1rem);
      color: $colorWhite;
    }
  }
}

.btnIcon {
  &,
  &:link,
  &:visited,
  &:active {
    background: transparent;
    padding: 0.8rem;
    cursor: pointer;
  }

  &--icon {
    width: 2.3rem;

    @include respond(tabPort) {
      width: 2.5rem;
    }
  }

  &--primary &--icon {
    &,
    & * {
      fill: $colorPrimary;
    }
  }

  &--primaryLight &--icon {
    &,
    & * {
      fill: $colorPrimaryLight;
    }
  }

  &--black &--icon {
    &,
    & * {
      fill: $colorBlack;
    }
  }

  &--white &--icon {
    &,
    & * {
      fill: $colorWhite;
    }
  }
}

.socialMediaIcon {
  border-radius: 100rem;
  overflow: hidden;

  svg {
    width: 100%;
    height: 100%;
  }

  &--big {
    width: 6rem;
  }

  &--medium {
    width: 4rem;
  }

  &--white {
    &,
    & * {
      fill: $colorWhite;
    }
  }

  &--primaryLight {
    &,
    & * {
      fill: $colorPrimaryLight;
    }
  }
}
