.btnPrimary {
  &,
  &:link,
  &:visited,
  &:active {
    position: relative;
    display: inline-block;
    background-color: $colorPrimaryLight;
    border-radius: 3px;
    padding: 0.8rem;
    transition: all 0.2s;
    text-decoration: none;
  }

  &-enter-active {
    opacity: 0.9;
  }

  &-enter-done,
  &-exit {
    opacity: 0.9;
  }

  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    max-height: 100%;

    &-enter {
      visibility: hidden;
      opacity: 0;
    }

    &-enter-active {
      visibility: visible;
      opacity: 1;
      transition: all 0.2s 0.2s;
    }

    &-enter-done,
    &-exit {
      visibility: visible;
      opacity: 1;
    }

    &-exit-active {
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s;
    }
  }

  &__text {
    color: $colorWhite;
    font-size: $defaultFontSize;
    font-weight: 600;
    line-height: 100%;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &--icon {
      font-size: 1.4rem;
    }

    &-enter {
      visibility: visible;
      opacity: 1;
    }

    &-enter-active {
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s;
    }

    &-enter-done,
    &-exit {
      visibility: hidden;
      opacity: 0;
    }

    &-exit-active {
      visibility: visible;
      opacity: 1;
      transition: all 0.2s 0.2s;
    }
  }

  @include notTouchDevice() {
    &:hover {
      opacity: 0.9;
    }
  }
}

.btnText {
  &,
  &:link,
  &:visited,
  &:active {
    padding: 0.8rem;
    text-decoration: none;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    position: relative;
  }

  p {
    font-weight: 600;
    font-size: $defaultFontSize;
    text-transform: lowercase;
    line-height: 100%;
  }

  &--icon {
    height: 0.7rem;
  }

  &--black {
    color: $colorBlack;
  }

  &--white {
    color: $colorWhite;
  }

  &--primary {
    color: $colorPrimary;
  }

  &--primaryLight {
    color: $colorPrimaryLight;
  }
}

.btnIcon {
  &,
  &:link,
  &:visited,
  &:active {
    background: transparent;
    padding: 0.8rem;
    cursor: pointer;
  }

  &--icon {
    width: 2.3rem;

    @include respond(tabPort) {
      width: 2.5rem;
    }
  }

  &--primary {
    color: $colorPrimary;
  }

  &--primaryLight {
    color: $colorPrimaryLight;
  }

  &--black {
    color: $colorBlack;
  }

  &--white {
    color: $colorWhite;
  }
}

.socialMediaIcon {
  border-radius: 100rem;
  overflow: hidden;

  svg {
    width: 100%;
    height: 100%;
  }

  &--big {
    width: 6rem;
  }

  &--medium {
    width: 4rem;
  }

  &--white {
    color: $colorWhite;
  }

  &--primaryLight {
    color: $colorPrimaryLight;
  }
}

.enemBtn {
  position: relative;
  border: 2px solid currentColor;
  color: $colorPrimary;
  border-radius: 100rem;
  width: 1em;
  height: 1em;
  cursor: pointer;

  @include respond(tabPort) {
    width: 1em;
    height: 1em;
  }

  &::after {
    content: "e";
    font-size: 0.8em;
    font-weight: 600;
    color: currentColor;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tabPort) {
      font-size: 0.9em;
    }
  }
}
