.resource {
  position: relative;
  text-decoration: none;
  display: grid;
  grid-template-rows: 3rem repeat(2, min-content);
  align-items: center;
  min-width: 20rem; // works better with parent with overflow-x:auto
  max-width: 20rem;
  min-height: 25rem;
  padding: 2rem;
  gap: 2rem;
  background-color: $colorWhite;
  border-radius: 3px;
  box-shadow: 0.5rem 0.5rem 3px rgba($colorBlack, 0.15);
  transition: all 0.2s;

  @include notTouchDevice() {
    &:hover {
      transform: translateY(3px);
      box-shadow: 4px 4px 3px rgba($colorBlack, 0.15);
    }
  }

  &__icon {
    width: 3rem;

    &,
    & * {
      fill: $colorPrimary;
    }
  }

  &__heading {
    color: $colorPrimary;
    font-size: 1.5rem;
    font-weight: 500;

    @include respond(phone) {
      font-size: $defaultFontSize;
    }
  }

  &__text {
    color: $colorPrimary;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 125%;

    @include respond(phone) {
      font-size: $defaultFontSize;
    }
  }
}
