//COLORS
$colorPrimary: #1e375f;
$colorPrimaryLight: #037cbf;
$colorSecondary: #fcc21b;
$colorWhite: #fff;
$colorBlack: #0f1c30;
$colorGreyLight: #f2f2f2;
$colorGreyDark: #585859;

// FONT
$defaultFontSize: 1.6rem;
