.homePage {
  display: grid;
  grid-template-columns:
    [c-left-start] 1fr [c-left-end c-content-start] minmax(auto, 114rem)
    [c-content-end c-right-start] 1fr [c-right-end];

  &__main {
    grid-column: c-content-start / c-content-end;
    position: relative;
    z-index: 10;
    padding: 10rem 6rem 42rem 6rem;
    overflow: hidden;

    @include respond(phone) {
      padding: 6rem 6rem 50rem 6rem;
    }

    @include respond(smallPhone) {
      padding: 3rem 3rem 50rem 3rem;
    }
  }

  &__mainBackground {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    min-width: 114rem;
    width: 90%;
    z-index: -1;

    &--default {
      @include respond(tabPort) {
        display: none;
      }
    }

    &--tabPort {
      display: none;
      width: 110%;
      min-width: 95rem;
      left: auto;
      right: 0;
      transform: translateX(0);

      @include respond(tabPort) {
        display: flex;
      }

      @include respond(phone) {
        min-width: 80rem;
      }

      @include respond(smallPhone) {
        right: auto;
        left: 50%;
        transform: translateX(-60%);
      }
    }
  }

  &__mainHeading {
    width: 29rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;

    @include respond(tabPort) {
      width: 30rem;
    }
  }

  &__benefits {
    margin-top: -3rem; //margin-top instead of top because top creates a gap below the element
    grid-column: c-left-start / c-right-end;
    position: relative;
    z-index: 5;
    padding: 13rem 0 10rem 0; //13rem = 10rem + 3rem compensates margin-top
    display: grid;
    grid-template-rows: [r-heading-start] min-content [r-heading-end r-main-start] min-content [r-main-end];
    grid-template-columns: repeat(3, minmax(auto, 50rem));
    justify-content: center;
    overflow-x: hidden;
    row-gap: 7rem;

    @include respond(tabLand) {
      justify-content: start;
      grid-template-columns: repeat(3, 100%);
    }

    @include respond(phone) {
      padding: 11rem 0 8rem 0; //11rem = 8rem + 3rem compensates margin-top
    }
  }

  &__benefitsHeading {
    justify-self: center;
    grid-row: r-heading-start / r-heading-end;
    grid-column: 1 / -1;
    padding: 0 6rem;

    @include respond(tabLand) {
      grid-column: 1 / 2;
    }

    @include respond(smallPhone) {
      padding: 0 3rem;
    }
  }

  &__benefitsItem {
    transition: transform 0.3s ease-out;

    &--transform1 {
      @include respond(tabLand) {
        transform: translateX(0);
      }
    }

    &--transform2 {
      @include respond(tabLand) {
        transform: translateX(-100%);
      }
    }

    &--transform3 {
      @include respond(tabLand) {
        transform: translateX(-200%);
      }
    }

    &--1 {
      grid-column: 1 / 2;
    }

    &--2 {
      grid-column: 2 / 3;
    }

    &--3 {
      grid-column: 3 / 4;
    }
  }

  &__benefitsBackground {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__benefitsArrowBtn {
    position: absolute;
    z-index: 10;
    grid-row: r-main-start / r-main-end;
    width: 4rem;
    top: 30%;
    display: none;
    background: none;

    @include respond(tabLand) {
      display: flex;
    }

    @include respond(smallPhone) {
      width: 5rem;
      top: auto;
      bottom: -5rem;
    }

    &,
    & * {
      fill: $colorWhite;
      opacity: 0.7;
      transition: opacity 0.2s;
    }

    @include notTouchDevice() {
      &:hover {
        &,
        & * {
          opacity: 0.85;
        }
      }
    }

    &--left {
      left: 2rem;
    }

    &--right {
      right: 2rem;
    }
  }
}
