.homePage {
  display: grid;
  grid-template-columns:
    [c-left-start] 1fr [c-left-end c-content-start] minmax(auto, 114rem)
    [c-content-end c-right-start] 1fr [c-right-end];

  &__main {
    grid-column: c-content-start / c-content-end;
    position: relative;
    z-index: 10;
    padding: 10rem 6rem 42rem 6rem;
    overflow: hidden;

    @include respond(phone) {
      padding: 6rem 6rem 50rem 6rem;
    }

    @include respond(smallPhone) {
      padding: 3rem 3rem 50rem 3rem;
    }
  }

  &__mainBackground {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    min-width: 114rem;
    width: 90%;
    z-index: -1;

    &--default {
      @include respond(tabPort) {
        display: none;
      }
    }

    &--tabPort {
      display: none;
      width: 110%;
      min-width: 95rem;
      left: auto;
      right: 0;
      transform: translateX(0);

      @include respond(tabPort) {
        display: flex;
      }

      @include respond(phone) {
        min-width: 80rem;
      }

      @include respond(smallPhone) {
        right: auto;
        left: 50%;
        transform: translateX(-60%);
      }
    }
  }

  &__mainHeading {
    width: 29rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;

    @include respond(tabPort) {
      width: 30rem;
    }
  }

  &__benefits {
    margin-top: -3rem; //margin-top instead of top because top creates a gap below the element
    grid-column: c-left-start / c-right-end;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    z-index: 5;
    padding: 13rem 0 10rem 0; //13rem = 10rem + 3rem compensates margin-top
    overflow: hidden;

    @include respond(phone) {
      padding: 11rem 0 8rem 0; //11rem = 8rem + 3rem compensates margin-top
    }
  }

  &__benefitsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 40rem));
    justify-content: center;
    row-gap: 7rem;
  }

  &__benefitsHeading {
    align-self: center;
    padding: 0 6rem;

    @include respond(smallPhone) {
      padding: 0 3rem;
    }
  }

  &__benefitsBackground {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__benefitsBackgroundSquares {
    position: absolute;
    z-index: -1;
    bottom: -1rem;
    right: 20%;
    width: 6rem;

    @include respond(phone) {
      right: 10%;
    }
  }

  &__resources {
    margin-top: -2rem;
    grid-column: c-content-start / c-content-end;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__resourcesGrid {
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    overflow: auto;
    padding: 0 2rem 2rem 2rem;

    &--desktop {
      display: flex;

      @include respond(phone) {
        display: none;
      }
    }

    &--phone {
      display: none;
      flex-wrap: nowrap;
      overflow-x: auto;

      & > *:last-child {
        &::after {
          position: absolute;
          content: "";
          width: 2rem;
          height: 100%;
          top: 0;
          right: -2rem;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none;
      scrollbar-width: none;

      @include respond(phone) {
        display: flex;
      }
    }
  }

  &__resourcesHeading {
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: max-content 1fr;
    gap: 4rem;
    overflow: hidden;
    justify-items: start;
    align-items: start;

    @include respond(phone) {
      grid-template-rows: repeat(3, min-content);
      grid-template-columns: 1fr;
    }

    &--desktop {
      padding: 3rem;
      display: grid;
      width: 55rem;

      @include respond(tabLand) {
        width: 100%;
      }

      @include respond(phone) {
        display: none;
      }
    }

    &--phone {
      padding: 0 2rem 2rem 2rem;
      display: none;
      width: 100%;

      @include respond(phone) {
        display: grid;
      }
    }
  }

  &__resourcesText {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 100%;
    max-width: 45rem;

    @include respond(tabPort) {
      max-width: 50rem;
    }
  }

  &__resourcesLink {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  &__resourcesImg {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    position: relative;
    width: 100%;
    max-width: 50rem;
    justify-self: right;

    @include respond(phone) {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }
  }
}
